.titulo{
    font-size: 32px;
  }//titulo
nav ion-item{
    --background: transparent;
}
//item nav
.img{
    --background: url(../../../../assets/img/2254-agregar.jpg)no-repeat center /cover;
  //imagen de fondo
}
