<ion-toolbar color="danger">
  <ion-title  class="ion-text-center"><img class="gift-container-1" alt="Silhouette of mountains" src="assets/img/Satoru.gif"/>
  </ion-title>
</ion-toolbar>
 <!-- Estos elementos de Ionic se utilizan para crear la barra de encabezado de la aplicaccion --> 
  <ion-content class="img-1" > 
  <!-- este blocke de contenido contien todas las cartas de anime con el boton del crud al final -->
  <div class="img-1"  id="main-content"  >
      <h1 class="titulo1">Bienvenidos
        a
        Anime chile
      </h1>
      <h1 class="subsubtitulo" >Todos los animes del momento</h1>
    </div>
    <ion-content class="img">
      <div class="form-container">
          <ion-card color="danger">
          <img alt="Silhouette of mountains" src="assets/img/img-1.jpg" />
          <ion-card-header>
            <ion-card-title>Jujutsu kaisen</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sigue a Yuji Itadori mientras combate maldiciones tras tragar un objeto maldito y se une a una organización secreta.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/img-3.jpg" />
          <ion-card-header>
            <ion-card-title>One piece</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Narra la odisea de Monkey D. Luffy y su tripulación en busca del legendario tesoro, enfrentando piratas y marines.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="warning">
          <img alt="Silhouette of mountains" src="assets/img/img-2.jpg" />
          <ion-card-header>
            <ion-card-title>Dragon ball Super</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sigue a Goku en nuevas aventuras con dioses y multiversos mientras protege la Tierra de amenazas cósmicas.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="dark">
          <img alt="Silhouette of mountains" src="assets/img/img-4.jpe" />
          <ion-card-header>
            <ion-card-title>Death Note</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Light Yagami encuentra un cuaderno misterioso que mata a quien se escriba en él y lo usa para eliminar criminales.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="warning">
          <img alt="Silhouette of mountains" src="assets/img/img-5.jpg" />
          <ion-card-header>
            <ion-card-title>Naruto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Naruto Uzumaki un joven ninja que alberga en su interior al demonio Kyubi y que desea convertirse en Hokage de su aldea.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="ligth">
          <img alt="Silhouette of mountains" src="assets/img/img-6.jpe" />
          <ion-card-header>
            <ion-card-title>NieR: Automata Ver1.1a.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sigue las batallas del androide de combate 2B, su compañero 9S, y el obsoleto prototipo A2, en una guerra de poder entre las máquinas.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="dark">
          <img alt="Silhouette of mountains" src="assets/img/img-7.jpg" />
          <ion-card-header>
            <ion-card-title>Devil May Cry</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           Acompaña a Dante en su trabajo de cazar demonios. Como propietario de la pequeña empresa Devil May Cry donde sus deudas le obligan a aceptar todo tipo de misiones.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="danger">
          <img alt="Silhouette of mountains" src="assets/img/img-8.png" />
          <ion-card-header>
            <ion-card-title>My Dress Up Darling</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           Acompañanos en esta serie a ver a Gojo y Marin en una travesia de amor donde el hara cosplay para Marin para poder mejorar en lo que mas le gusta.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/img-9.jpg" />
          <ion-card-header>
            <ion-card-title>Neo Genesis Evangelion</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Una organización paramilitar llamada NERV protege a la humanidad de los ataques de seres llamados los «Ángeles», utilizando para ello bio mechas llamados EVA.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="medium">
          <img alt="Silhouette of mountains" src="assets/img/img-10.jpg" />
          <ion-card-header>
            <ion-card-title>Chainsaw man</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Denji es un joven atrapado en la pobreza extrema, que trabaja para saldar la deuda de su padre fallecido con la [Yakuza] trabajando como cazador de demonios.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="dark">
          <img alt="Silhouette of mountains" src="assets/img/img-11.jpg" />
          <ion-card-header>
            <ion-card-title>Ghost in the Sell SAC_2045</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En 2045, la mercenaria cibernética Motoko Kusanagi regresa a la Sección 9 para enfrentarse a una nueva y peligrosa amenaza: los poshumanos.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="danger">
          <img alt="Silhouette of mountains" src="assets/img/img-12.jpg" />
          <ion-card-header>
            <ion-card-title>Ranma ½</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            un chico llamado Ranma Saotome, quien sufre una peculiar maldición desde que cayó en un estanque maldito durante un entrenamiento de artes marciales en China. 
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="primary">
          <img alt="Psycho Pass 3" src="assets/img/img-13.jpg" />
          <ion-card-header>
            <ion-card-title>Psycho Pass 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ambientada en una distopía conocida como el Sistema Sibyl, la película sigue la vida de los inspectores Kei Mikhail Ignatov, Arata Shindō, y varios más. 
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="success">
          <img alt="Silhouette of mountains" src="assets/img/img-15.jpg" />
          <ion-card-header>
            <ion-card-title>Dr Stone</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Senku y Taiju, dos adolescentes que se ven atrapados en un mundo post-apocalíptico en el que la raza humana se ha convertido en piedra y ellos buscan la manera de revertir la petrificación. 
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/img-17.jpg" />
          <ion-card-header>
            <ion-card-title>Bunny Girl Senpai</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Seishun Buta Yarou es una serie anime que narra la historia de una joven, Mai Sakurajima, que tiene el síndrome de pubertad misterioso y que solo afecta a aquellos que están en la pubertad.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="ligth">
          <img alt="Silhouette of mountains" src="assets/img/img-18.jpg" />
          <ion-card-header>
            <ion-card-title>Kill la Kill</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ryuko Matoi es una joven que aparece con un uniforme fabricado 100% de fibras vitales y empuña una espada a la presidenta del consejo estudiantil para saber quien mato a su padre.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="danger">
          <img alt="Silhouette of mountains" src="assets/img/img-14.jpg" />
          <ion-card-header>
            <ion-card-title>Soul Eater</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Maka Albarn, Death The Kid y Black Star son tres jóvenes estudiantes de Shibusen. Su objetivo en la vida es conseguir graduarse y convertirse en Técnicos de Guadaña Mortal.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="warning">
          <img alt="Silhouette of mountains" src="assets/img/img-20.jpg" />
          <ion-card-header>
            <ion-card-title>Bleach</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ichigo Kurosaki, un joven que puede ver a los espíritus. Cuando una shinigami llamada Rukia Kuchiki es herida al intentar protegerle de un monstruo conocido como Hollow.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="success">
          <img alt="Silhouette of mountains" src="assets/img/img-21.jpg" />
          <ion-card-header>
            <ion-card-title>My hero Academeia</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Estamos en un mundo donde abundan los superhéroes (y los supervillanos). Los mejores humanos son entrenados en la Academia de Héroes para optimizar sus poderes.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="dark">
          <img alt="Silhouette of mountains" src="assets/img/img-22.jpg" />
          <ion-card-header>
            <ion-card-title>Vinland Saga</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thorfinn es el hijo de uno de los mejores guerreros vikingos, pero cuando su padre es asesinado en batalla por un líder mercenario llamado Askeladd, éste jura venganza.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/img-23.jpg" />
          <ion-card-header>
            <ion-card-title>Overlord</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            El veterano jugador Momonoga decide quedarse en él hasta el mismo cierre de su juego online. El problema es que pasa la hora de cierre y él no se desconecta, pero los NPC han ganado conciencia propia.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="success">
          <img alt="Silhouette of mountains" src="assets/img/img-24.jpg" />
          <ion-card-header>
            <ion-card-title>Hunter x Hunter</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            La historia tiene como protagonista a Gon Freecss, un niño de doce años que desea encontrar a su padre a toda costa, por lo que decide convertirse en «cazador», justo como él.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="danger">
          <img alt="Silhouette of mountains" src="assets/img/img-overflow.jpg" />
          <ion-card-header>
            <ion-card-title>Overflow</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            La historia se trata de un grupo de hermanos intentando convivir despues de la muerte de sus padres y poder avanzar con su vida dia a dia.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="secondary">
          <img alt="Silhouette of mountains" src="assets/img/img-26.jpg" />
          <ion-card-header>
            <ion-card-title>Cyberpunk: Edgerunners</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En una distopía plagada de corrupción e implantes cibernéticos, un chico prodigioso pero temerario trata de convertirse en un mercenario proscrito: un 'edgerunner'.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="ligth">
          <img alt="Silhouette of mountains" src="assets/img/img-27.jpg" />
          <ion-card-header>
            <ion-card-title>Megalo Box</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Megalobox se centra en Joe, quien disputa combates fijos en clubes de lucha de Megaloboxing, un deporte similar al boxeo, pero que implica el uso exoesqueletos metálicos llamados Gears.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="primary">
          <img alt="Silhouette of mountains" src="assets/img/img-28.jpg" />
          <ion-card-header>
            <ion-card-title>Danmachi</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bell es un aventurero novato normal y corriente que sueña con hacerse rico y conocer chicas en la Mazmorra.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="dark">
          <img alt="Silhouette of mountains" src="assets/img/img-29.jpg" />
          <ion-card-header>
            <ion-card-title>Baki</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Baki Hanma, un prometedor luchador de artes marciales que tras superar todo entrenamiento sin complicaciones en pos de batir a su padre, Yujiro Hanma.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/img-30.jpg" />
          <ion-card-header>
            <ion-card-title>Code Geass</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            “Code Geass” es la historia de la revolución que hace Lelouch Lamperouge, con su alter ego Zero, en el Sacro Imperio de Britannia, la potencia mundial que dominó gran parte del mundo.
          </ion-card-content>
        </ion-card>
        <br>
      </div>
      <ion-content>
        <ion-col size="12">
          <ion-button [routerLink]="['/listar']">
            <ion-icon name="cloud-circle"></ion-icon>Cruds
          </ion-button>
          <ion-button [routerLink]="['/wiki']">
            <ion-icon name="cloud-circle"></ion-icon>Wiki
          </ion-button>
        </ion-col>
      </ion-content>
    </ion-content>
  <ion-toolbar color="danger">
    <ion-title  class="ion-text-center"><img class="gift-container" alt="Silhouette of mountains" src="assets/img/anime-usagif.gif"/>
    </ion-title>
  </ion-toolbar>
